<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Here are some links to help you start: {{title}}</h2>
<div><button class="btn" (click)="loaddata()">Load Data</button>
</div>


<div>
  <div class="adm">
    <label>name:
      <input [(ngModel)]="adm.name" placeholder="adm tag">
    </label>
  </div>
  <div *ngFor="let data of eveSystems">
    {{data.name}}  <button  class="btn" (click)="addTag(adm.name, data.id)">add</button>
    <table>
      <tr>
        <th>code</th>
        <th>ADM |</th>
        <th>Date time</th>
        <th> control</th>

      </tr>
      <tr *ngFor="let ad of data.adms">
        <td></td>
        <td>{{ ad.name }}  </td>
        <td>{{ad.ts | date : 'mediumTime' }}</td>
        <td> <button  class="btn" (click)="remove(ad.name, data.id)">remove</button></td>
      </tr>
    </table>

  </div>


</div>
<!--<div><button class="btn" (click)="save()">Save</button></div>-->
<div><button class="btn" (click)="clearSystems()">Clear All Systems</button></div>


